<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dam_m08_t1_t2.actividad_07"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="dam_m08_t1_t2.actividad_07.AsignaturasPrincipalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dam_m08_t1_t2.actividad_07.AsignaturasListaActivity" />
        <activity android:name="dam_m08_t1_t2.actividad_07.AsignaturasActivity" />
    </application>

</manifest>
